.filters#filters
  = render "shared/search"
  = hook(:index_contact_sidebar_bottom, self)

  .check_box
    %div{:style => "float:right;"}
      - @contact_stage_total = { :all => Contact.my.count, :other => 0 }
      %b= @contact_stage_total[:all]
    %b #{t :total_contacts}
